@use "../abstracts/variables" as *;

html {
    font-size: $fs-default;
}

body {
    font-family: $font-inter;
    margin: 0;

    line-height: 1.6;
}

img {
    display: block;
    max-width: 100%;
}

h1 {
    font-size: 2rem;
    text-align: center;
    color: $color-primary;
}

h1, h2, h3, h4 {
    line-height: 1;
}

button {
    background-color: transparent;
    border: none;
    font-size: inherit;
    color: inherit;
    font-weight: inherit;
    cursor: pointer;
}
