@use "sass:list";
@use "sass:math";

@mixin srcset($backgrounds) {
    background: url('#{list.nth($backgrounds, 1)}') center/cover no-repeat;
    @for $i from 1 through list.length($backgrounds) {
        @media screen and (max-width: math.div(1920px, $i + 1)) {
            background: url('#{list.nth($backgrounds, $i)}') center/cover no-repeat;
        }
    }
}

@mixin bg-darken($strength, $hoverModifier: 0) {
    @if ($strength + $hoverModifier > 1) { @error '$strength + $hoverModifier can\'t be greater than 1'; }

    & {
        position: relative;
    }

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-color: rgba(0,0,0, $strength);

        @if ($hoverModifier != 0) {
        }
    }

    & > * {
        position: relative;
    }

    @if ($hoverModifier != 0) {
        & {
            cursor: pointer;
        }

        &::before {
            transition: 250ms background-color;
        }

        &:hover::before {
            background-color: rgba(0,0,0, $strength + $hoverModifier);
        }
    }

}