@use "variables" as *;

// ACCESSIBILITY
.visually-hidden {
    position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0,0,0,0) !important;
	white-space: nowrap !important;
	border: 0 !important;
}

// RENDERING
.hidden { visibility: hidden;}
.d-none { display: none; }

// COLOR
.color-primary { color: $color-primary !important; }
.color-secondary { color: $color-secondary !important; }
.color-contrast { color: $color-contrast !important; }

// CONTAINER SIZES
.size-small {
    max-width: min(100% - 2rem, $size-small);
    margin-inline: auto;
}

.size-medium {
    max-width: min(100% - 2rem, $size-medium);
    margin-inline: auto;
}

.size-large {
    max-width: min(100% - 2rem, $size-large);
    margin-inline: auto;
}

.size-extralarge {
    max-width: min(100% - 2rem, $size-extralarge);
    margin-inline: auto;
}

// Si une classe 'size-' est dans un conteneur avec un classe 'size-', alors, retirer les marges
[class*="size-"] .size-small {
    max-width: min(100%, $size-small);
    margin-inline: auto;
}

[class*="size-"] .size-medium {
    max-width: min(100%, $size-medium);
    margin-inline: auto;
}

[class*="size-"] size-large  {
    max-width: min(100%, $size-large);
    margin-inline: auto;
}

[class*="size-"] .size-extralarge {
    max-width: min(100%, $size-extralarge);
    margin-inline: auto;
}

// FONT
.fw-bold { font-weight: bold; }

// TEXT ALIGNMENT
.txt-centered { text-align: center; }

// MARGINS AND PADDING
.mb-2em { margin-bottom: 2em; }
.mb-2rem { margin-bottom: 2rem; }

// LAYOUT
.d-flex { display: flex; }
.justify-content-between { justify-content: space-between;}