@use '../abstracts/variables' as *;
@use '../abstracts/animations';
@use 'sass:math';

.species {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;

    &__title {
        font-size: 2rem;

        padding-bottom: 0.5rem;

        border-bottom: 2px solid $color-contrast;
    }

    &__controls {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 4rem;

        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 1rem;
        align-self: start;
    
        text-align: left;

        > .button {
            flex-grow: 1;
        }
    }

    &__list {
        flex-grow: 10;
        flex-shrink: 1;
        flex-basis: 15rem;
    }
}

.specie {
    @supports (animation: translateUp 750ms) {
        animation: translateUp 750ms;
    }
}

.animal__name {
    color: $color-primary;
    font-size: 1.25rem;
    text-decoration: underline;

    margin-top: 0;
}