{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ CSS_DIR }}/pages/services.css">
{% endblock %}

{% block main %}
    <h1 class="txt-centered ">Nos services</h1>
    <section>
        <div class="size-medium">
            <h2 class="">Restauration</h2>
            <div class="media-and-text">
                <div class="media-and-text__media"><img class="rounded-img" src="{{ IMG_DIR }}/original-images/img-placeholder.png"></div>
                <div class="media-and-text__content">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora ipsa ut, est, tempore necessitatibus odio fuga asperiores dolore blanditiis pariatur expedita consectetur veniam aliquam, maiores perspiciatis? Velit quo nemo deserunt?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi totam delectus, fugiat laborum aut nesciunt temporibus quo, autem minus dicta, ratione at nemo suscipit quas sit. Ipsum commodi alias perferendis.
                    Exercitationem veritatis quasi numquam tempore ad enim fugiat dolorem ratione ut nam dolore quaerat hic impedit inventore omnis minima, saepe quis in commodi facere! Dolorum et eum commodi! Impedit, eius.</p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="size-medium">
            <h2 class="">Visite gratuire avec un guide</h2>
            <div class="media-and-text media-and-text--reversed">
                <div class="media-and-text__content">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora ipsa ut, est, tempore necessitatibus odio fuga asperiores dolore blanditiis pariatur expedita consectetur veniam aliquam, maiores perspiciatis? Velit quo nemo deserunt?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi totam delectus, fugiat laborum aut nesciunt temporibus quo, autem minus dicta, ratione at nemo suscipit quas sit. Ipsum commodi alias perferendis.
                    Exercitationem veritatis quasi numquam tempore ad enim fugiat dolorem ratione ut nam dolore quaerat hic impedit inventore omnis minima, saepe quis in commodi facere! Dolorum et eum commodi! Impedit, eius.</p>
                </div>
                <div class="media-and-text__media"><img class="rounded-img" src="{{ IMG_DIR }}/original-images/img-placeholder.png"></div>
            </div>
        </div>
    </section>
    <section>
        <div class="size-medium">
            <h2 class="">Visite en petit train</h2>
            <div class="media-and-text">
                <div class="media-and-text__media"><img class="rounded-img" src="{{ IMG_DIR }}/original-images/img-placeholder.png"></div>
                <div class="media-and-text__content">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora ipsa ut, est, tempore necessitatibus odio fuga asperiores dolore blanditiis pariatur expedita consectetur veniam aliquam, maiores perspiciatis? Velit quo nemo deserunt?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi totam delectus, fugiat laborum aut nesciunt temporibus quo, autem minus dicta, ratione at nemo suscipit quas sit. Ipsum commodi alias perferendis.
                    Exercitationem veritatis quasi numquam tempore ad enim fugiat dolorem ratione ut nam dolore quaerat hic impedit inventore omnis minima, saepe quis in commodi facere! Dolorum et eum commodi! Impedit, eius.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}