@font-face {
    font-family: Inter;
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/inter/Inter-Regular.otf);
}

@font-face {
    font-family: Inter;
    font-weight: 700;
    font-style: normal;
    src: url(../fonts/inter/Inter-Bold.otf);
}

@font-face {
    font-family: Inter;
    font-weight: 900;
    font-style: normal;
    src: url(../fonts/inter/Inter-ExtraBold.otf);
}