@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.form {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;

    &__submit-btn {
        align-self: flex-start;

        @include btn(true);
    }
}

.form-input {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;

    &__label {
        color: $color-primary;
        font-weight: bold;
    }

    &__input {
        font-size: 1rem;
        
        border: 2px solid $color-primary;
        border-radius: 10px;

        padding: 0.5rem;

        &.error {
            border-color: red;
            box-shadow: 0 0 5px red;
        }
    }
}