@use '../abstracts/fonctions' as *;

.media-and-text {
    display: flex;
    gap: constrain(1rem, 2rem, 320px);
    flex-wrap: wrap;

    &--reversed {
        flex-direction: row-reverse;
    }

    & > &__media {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 250px;

        align-self: center;

        max-width: 400px;

        margin-inline: auto;


        > img {
            aspect-ratio: 1;
            width: 100%;
            object-fit: cover;
        }
    }

    & > &__content {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 350px;

        text-align: left;

        > :first-child {
            margin-top: 0;
        }
    }
}