{% extends 'base.html.twig' %}

{% block main %}
    <section>
        <div class="size-medium">
            <h1>ERREUR 500</h1>
            <p>Oops ! Il semblerait que nous ayons un problème de notre côté. Nous essaierons de règler ceci dans le futur.</p>
        </div>
    </section>
{% endblock %}