{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ CSS_DIR }}/pages/services.css">
{% endblock %}

{% block main %}
    <h1 class="txt-centered ">Nos services</h1>
    {% for name, description in services %}
        <section>
            <div class="size-medium">
                <h2 class="">{{ name }}</h2>
                <div class="media-and-text {% if loop.index % 2 == 0 %}media-and-text--reversed{% endif %}">
                    <div class="media-and-text__media"><img class="rounded-img" src="{{ IMG_DIR }}/original-images/img-placeholder.png"></div>
                    <div class="media-and-text__content">
                        <p>{{ description }}</p>
                    </div>
                </div>
            </div>
        </section>
    {% endfor %}
{% endblock %}